---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Marc-Anthony Girard">
  <main class="h-screen">
    <Header/>
  </main>
</Layout>
