---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Marc-Anthony Girard">
  <main>
    <h1 class="">Welcome to Marc-Anthony's website!</h1>
  </main>
</Layout>

