---
import photo from "../assets/myself.jpeg";
import { Image } from "astro:assets";
---
<div class='flex flex-row bg-blue-400 p-4'>
  <div>
    <Image src={photo} class='w-12 h-12 rounded-full' alt="Marc-Anthony's picture"/>
  </div>
</div>
